# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compile directory
bin/*

# Debug directory and files for Visual Studio
VisualStudio/Debug/*
quark-plasma.opensdf
quark-plasma.sdf
quark-plasma.v11.suo